appdirs==1.4.0
arrow==0.10.0
dj-database-url==0.4.1
Django==1.10
django-appconf==1.0.1
django-image-cropping==1.0.4
django-widget-tweaks==1.4.1
easy-thumbnails==2.3
gunicorn==19.4.5
model-mommy==1.2.6
olefile==0.44
packaging==16.8
pagseguro==0.3.2
Pillow==4.0.0
pyparsing==2.1.10
python-dateutil==2.6.0
python-decouple==3.0
requests==2.13.0
six==1.10.0
whitenoise==3.2
xmltodict==0.10.2
psycopg2==2.6.1
